#navHeader {
  color: azure;

  #headerContainer {
    display: inline-flex;

    #logoWrap {
      display: flex;
      align-items: center;
      margin-right: .75rem;

      svg {
        margin: 0 auto;
        display: block;
      }
    }
  }
}
